{% load context_colors %}

{{ error }}

<div id="graph"></div>

<script type="text/javascript">
    var nodes = new vis.DataSet([
    {% context_pallette nodes as pallette %}
    {% for node, color in pallette %}
        {
            id: {{ node.id }},
            label: "{{ node.label }}",
            group: "{{ node.group }}",
            color: "#{{ color }}",
            shape: "circle"
        },
    {% endfor %}
    ]);

    var edges = new vis.DataSet([
    {% for edge in edges %}
        {
            from: {{ edge.upstream }},
            to: {{ edge.downstream }},
            label: "{{ edge.label }}",
            style: "arrow"
        },
    {% endfor %}
    ]);

    var container = document.getElementById("graph");
    var data = {
        nodes: nodes,
        edges: edges
    };
    var options = {
        fontFace: "IosevkaLightExtended"
    };
    var network = new vis.Network(container, data, options);
</script>
