{% extends 'base.html' %}

{% block content %}
<div id="daemon_status">
    <ul>
        <li><strong>Workers: </strong><span id="threadPoolWorkers" class="disconnected">??</span></li>
        <li><strong>Emissions: </strong><span id="dataEmitted" class="disconnected">??</span></li>
        <li><strong>CPU Usage: </strong><span id="cpuUtilization" class="disconnected">??</span>%</li>
        <li>
            <button id="DaemonReloader" onClick="RPCOperation('daemon', 'reload')">
                Restart
            </button>
        </li>
    </ul>
</div>

<div id="navigation">
    <select id="rpc_host" onChange="setCookie('rpc_host', this.value); reload();">
    {% for host in rpc_hosts %}
    <option{% if host == current_rpc_host %} selected=true{% endif %}>{{ host }}</option>
    {% endfor %}
    </select>
    <button onClick="Navigate('cogs/{{ current_rpc_host }}');">Cogs</button>
    <button onClick="Navigate('graph/{{ current_rpc_host }}');">Graph</button>
</div>

<hr />

<div id="content">
    {% include "cogs.html" %}
</div>

<div id="filler" style="height:12em"></div>
<div id="footer_wrapper">
    <div id="footer_hider"></div>
    <div id="footer">
        <div id="logs_wrapper">
            <div class="shadow_top"></div>
            <div id="logs">
            </div>
        </div>
        <div id="daemon_info">
            <button id="TailLogs"
                    onClick="WatchStatus('{{ current_rpc_host }}')">
                Reconnect
            </button><br />
            <button id="ClearLogs"
                    onClick="document.getElementById('logs').innerHTML = ''; sessionStorage.logs_{{ current_rpc_host }} = '';">
                Clear
            </button><br />
        </div>
    </div>
</div>
<script>
    document.cookie = "rpc_host={{ current_rpc_host }}";
    if (sessionStorage.{{ current_rpc_host }}) {
        document.getElementById('logs').innerHTML = sessionStorage.{{ current_rpc_host }}
    }
    WatchStatus("{{ current_rpc_host }}")
</script>
{% endblock %}
